<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MagoMagazine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A57BE8D11D3A00B600F67116</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A57BE8E51D3A00B600F67116</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A57BE8F01D3A00B600F67116</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
